.nav-menu-icons{
  display: flex;
  align-items: flex-end;
}
.nav-menu-icons__item-basic:not(:last-child){
  margin-right: 30px;
}
.nav-menu-icons__item-basic{
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: #3c3c3c;
}
.nav-menu-icons__item-basic:hover{
  color: #f0670b;
}